
.module-year {
    width:100%;
    height: 606px;
    padding:120px 0;
    box-sizing: border-box;
    border-bottom: 1px solid $color-font-gray;
    .module-year-title{
        font:24px 'MicrosoftYaHei';
        color:$color-font;
        text-align: center;
        font-weight: normal;
        margin-bottom: 60px;
    }
    .module-year-content{
        width: 100%;
        height: 280px;
        background: url(./img/line.png) repeat-x center;
        position: relative;
        &::after{
            content: '';
            width: 100%;
            height: 1px;
            background:$color-font-gray;
            position: absolute;
            top:50%;
            transform: translate(0,-50%);
            left:0;
        }
        .line-year{
            position: relative;
            height: 100%;
            .line-list{
                display: flex;
                height: 100%;
                .info-timer{
                    font-size: 16px;
                    color:$color-link;
                    margin-bottom:10px;
                    &.white{
                        color:$color-font;
                    }
                }
                .info-text{
                    font-size: 12px;
                    color:$color-font-gray;
                }
            }
            .line-item:nth-child(2n+1){
                width: 208px;
                height: 145px;
                position: absolute;
                background: url(./img/up-green.png) no-repeat;
                z-index: 2;
                box-sizing: border-box;
                flex:1;
                .line-item-info{
                    position: absolute;
                    bottom:0;
                    left:16px;
                }
            }
            .line-item:first-child{
                bottom:0;
                left:10px;
            }
            .line-item:nth-child(2n){
                width: 208px;
                height: 145px;
                position: absolute;
                background: url(./img/down-green.png) no-repeat;
                z-index: 2;
                box-sizing: border-box;
                flex:1;
                .line-item-info{
                    position: absolute;
                    top:0;
                    left:16px;
                }
            }
            .line-item:nth-child(2){
                top:0;
                left:244px;
            }
            .line-item:nth-child(3){
                bottom:0;
                left:478px;
                background: url(./img/up-white.png) no-repeat;
            }
            .line-item:nth-child(4){
                top:0;
                left:712px;
                background: url(./img/down-white.png) no-repeat;
            }
            .line-item:nth-child(5){
                bottom:0;
                left:946px;
                background: url(./img/up-white.png) no-repeat;
            }
        }
    }
}
