.module-ticker{
    padding:0 0 100px 0;
    .ticker-title{
        ul{
            display: flex;
            justify-content: center;
           li{
                padding:20px;
                color:$color-font-gray;
                h3{
                    font-size: 24px;
                    font-weight: normal;
                }
            &.active{
                color:$color-font;
            }
           }
        }
    }
}