<div class="comp-confirm-dialog" :id="CONFIRM_ELEMENT_ID" v-if="visible === true">
    <modal :title="title" :on-hide="hide" :width="272">
        <div slot="content">
            <i class="icon-info"></i>
            <span class="text" v-html="content"></span>
        </div>
        <div slot="footer">
            <a href="javascript:;" class="ui-btn ui-btn--default" @click="onCancel">{{cancelText}}</a>
            <a href="javascript:;" class="ui-btn" @click="onConfirm">{{confirmText}}</a>
        </div>
    </modal>
</div>
