/**
* @file
* @author jinguangguo
* @date 2018/9/7 下午8:37
*/

$color-font: #E9E9E9;
$color-font-gray: #737C80;

$color-link: #00B07C;
$color-link-hover: #45B08F;

$color-bg: #15232C;     // 大背景
$color-bg-gray: #2f3d45;    // 头部和底部的背景

$color-border: #3A474D;
$color-border-dark: #15232C;

$width-container: 1200;

