/**
* @file
* @author jinguangguo
* @date 2018/9/7 下午8:37
*/

$color-font: #333;
$color-font-dark: #303030;
$color-font-light: #9b9d9e;
$color-font-gray: #bbbbbb;
$color-link: #2061ff;
$color-link-hover: #4a7dfa;
$color-bg: #0e151d;
$color-border: #efefef;
