
.page-index {
    background: $color-bg;
}
.index-title{
    width: 100%;
    font:24px 'MicrosoftYaHei';
    color:$color-font;
    text-align: center;
    font-weight: normal;
    margin-bottom: 60px;
}
